.mypage__login-name {
    max-width: 1200px;
    margin: 0 auto;
}

.login-name,
.title {
    margin: 0px 0px 10px 0px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.alert__content {
    height: 50px;
}

.alert__content--success {
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.alert__content--error {
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.admin__content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

.admin__registration {
    margin: 0 auto;
    width: 500px;
    height: 285px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}

.admin__title {
    margin: 0 auto;
    height: 50px;
    width: 500px;
    background-color: #345efd;
    color: #fff;
    font-size: 20px;
    padding-left: 15px;
    line-height: 50px;
    border-radius: 10px 10px 0px 0px;
}

.admin__form {
    margin: 0 auto;
    height: 235px;
    width: 500px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
}

.form {
    padding-top: 15px;
    margin: 0 auto;
    width: 450px;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
    display: flex;
}

.form__group--icon {
    height: 40px;
    width: 40px;
}

.icon-name {
    width: 20px;
    height: 25px;
    margin-top: 3px;
}

.icon-mail {
    width: 25px;
    height: 20px;
    margin-top: 8px;
}

.icon-key {
    width: 20px;
    height: 25px;
    margin-top: 3px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-size: 15px;
}

.form__input--text input {
    width: 390px;
    height: 30px;
    border: 1px solid#fff;
    border-bottom: 2px solid gray;
    appearance: none;
    font-size: 15px;
    color: grey;
}

.form__button {
    margin: 10px 20px 0px 0px;
    text-align: right;
}

.form__button--submit {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #345efd;
    cursor: pointer;
}

.form__button--text {
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.admin__owner-list {
    margin: 0px 0px 0px 45px;
    width: 700px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}

.owner__title {
    margin: 0 auto;
    height: 50px;
    width: 700px;
    background-color: #345efd;
    color: #fff;
    font-size: 20px;
    padding-left: 15px;
    line-height: 50px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid #dddddd;
}

.owner__form {
    margin: 0 auto;
    height: 300px;
    width: 700px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
}

.owner__content {
    margin: 0 auto;
    padding: 15px 15px 15px 15px;
    height: 340px;
    width: 700px;
    background-color: #345efd;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px gray;
    position: relative;
}

.owner__content.open {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.owner__content--text {
    width: 670px;
    padding-left: 15px;
    background-color: #4f7ffd;
}

.owner-text {
    color: #fff;
    width: 625px;
}

.owner__content--table {
    height: 240px;
    padding-left: 15px;
    background-color: #4f7ffd;
    margin-bottom: 15px;
    overflow-y: scroll;
}

.owner-table {
    color: #fff;
    width: 625px;
    border-collapse: collapse;
}

.id {
    width: 100px;
    border-bottom: 1px solid #dddddd;
}

.ownername {
    width: 120px;
    border-bottom: 1px solid #dddddd;
}

.email {
    width: 220px;
    border-bottom: 1px solid #dddddd;
}

.owner__content--memo {
    color: #fff;
}
