.header__menu--button {
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.15s linear;
    background-color: #345efd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px gray;
}

.header__menu--button-line {
    width: 35px;
    height: 2px;
    background-color: #fdfdfd;
    position: relative;
    transition: 0.2s;
}

.header__menu--button-line::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: #fdfdfd;
    transition: 0.2s;
}

.header__menu--button-line::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #fdfdfd;
    transition: 0.2s;
}

.header__menu--button-line::before {
    transform: translateY(-8px);
}

.header__menu--button-line::after {
    transform: translateY(8px);
}

.header__menu--button-line.open {
    background-color: transparent;
}

.header__menu--button-line.open::before,
.header__menu--button-line.open::after {
    transition: 0.2s;
}

.header__menu--button-line.open::before {
    width: 100%;
    transform: rotate(45deg);
}

.header__menu--button-line.open::after {
    width: 100%;
    transform: rotate(-45deg);
}

.header__menu--button.open {
    transition: all 0.15s linear;
    background-color: #345efd;
    border-radius: 8px;
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px gray;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fdfdfd;
}

.menu-list {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-text {
    text-decoration: none;
    font-weight: bold;
    color: #345efd;
    font-weight: bold;
    font-size: 25px;
}

.menu-list:hover {
    background-color: #d5dcf3;
    transition: 0.3s;
    cursor: pointer;
}

.menu.open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    background: #f2f2f2;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    display: flex;
}

.header__menu {
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
}

.header__logo {
    color: #345efd;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    margin: 2px 0px -16px 15px;
}

::-webkit-input-placeholder {
    opacity: 1;
}

:-ms-input-placeholder {
    opacity: 1;
}

::-ms-input-placeholder {
    opacity: 1;
}

::placeholder {
    opacity: 1;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

input:focus::-ms-input-placeholder {
    color: transparent;
}

input:focus::placeholder {
    color: transparent;
}

.header__search.open {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.header__search {
    margin: 0px 20px 0px auto;
    height: 35px;
    width: 580px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    flex-direction: row;
}

.header__search--box {
    display: flex;
}

.search-button {
    position: relative;
    width: 30px;
    height: 35px;
}

.search {
    position: absolute;
    background-color: #fff;
    border: none;
    width: 30px;
    height: 35px;
}

.icon-search {
    position: absolute;
    margin: 10px 5px 0px 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    color: grey;
    pointer-events: none;
}

.search-text {
    margin-top: 5px;
    margin-left: 3px;
    padding-left: 5px;
    background-color: #fff;
    height: 25px;
    width: 320px;
    border: none;
    color: grey;
    vertical-align: center;
}

.search-area {
    position: relative;
    display: flex;
    align-items: center;
}

.search-area::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #e1e1e1 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 11%;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-area {
    margin-left: 8px;
    padding-left: 5px;
    background-color: #fff;
    height: 25px;
    width: 100px;
    border: none;
    border-right: solid 2px #e1e1e1;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: center;
}

.select-area::-ms-expand {
    margin-left: 8px;
    padding-left: 5px;
    background-color: #fff;
    height: 25px;
    width: 100px;
    border: none;
    border-right: solid 2px #e1e1e1;
    display: none;
}

.search-genre {
    position: relative;
    display: flex;
    align-items: center;
}

.search-genre::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #e1e1e1 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 11%;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-genre {
    margin-left: 8px;
    padding-left: 5px;
    background-color: #fff;
    height: 25px;
    width: 100px;
    border: none;
    border-right: solid 2px #e1e1e1;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: center;
}

.select-genre::-ms-expand {
    margin-left: 8px;
    padding-left: 5px;
    background-color: #fff;
    height: 25px;
    width: 100px;
    border: none;
    border-right: solid 2px #e1e1e1;
    display: none;
}
