.detail__content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

.detail__shop {
    margin: 0 auto;
    padding-top: 15px;
    height: 600px;
    width: 600px;
}

.detail__shop-name {
    display: flex;
    height: 70px;
    align-items: center;
}

.back-button {
    height: 25px;
    width: 25px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    text-align: center;
    padding-top: 2px;
    padding-right: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

.shop-name {
    margin: 5px 0px 0px 10px;
    font-size: 20px;
    font-weight: bold;
}

.detail__shop-img img {
    width: 530px;
    height: 350px;
}

.detail__shop-tag {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.shop-area {
    display: inline-block;
}

.shop-genre {
    display: inline-block;
}

.detail__shop-text {
    width: 525px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.detail__reservation {
    margin-top: -50px;
    height: 650px;
    width: 600px;
}

.detail__reservation.open {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.detail__reservation--content {
    margin: 0 auto;
    padding: 10px 25px 0px 25px;
    height: 625px;
    width: 550px;
    background-color: #345efd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px gray;
    position: relative;
}

.title {
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.reservation {
    display: flex;
    flex-direction: column;
}

.input-date {
    font-family: "Arial", sans-serif;
    border-radius: 3px;
    width: 150px;
    height: 25px;
    border: none;
    padding: 5px;
}

.input-time {
    margin-top: 10px;
    border-radius: 3px;
    width: 455px;
    height: 25px;
    border: none;
    padding: 6px;
    -webkit-appearance: none;
    appearance: none;
}

.input-time::-ms-expand {
    margin-top: 10px;
    border-radius: 3px;
    width: 455px;
    height: 25px;
    border: none;
    padding: 6px;
    display: none;
}

.input-number {
    margin-top: 10px;
    border-radius: 3px;
    width: 455px;
    height: 25px;
    border: none;
    padding: 6px;
    -webkit-appearance: none;
    appearance: none;
}

.input-number::-ms-expand {
    margin-top: 10px;
    border-radius: 3px;
    width: 455px;
    height: 25px;
    border: none;
    padding: 6px;
    display: none;
}

.reservation-output {
    margin-top: 10px;
    height: 140px;
    width: 440px;
    padding: 20px;
    background-color: #4f7ffd;
    border-radius: 8px;
}

.reservation-table {
    font-size: 15px;
    color: #fff;
    width: 250px;
    height: 100px;
}

.column-space {
    width: 50px;
}

.detail__reservation-button {
    margin: auto -25px;
}

.reservation-button {
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: #153afd;
    text-align: center;
    font-size: 15px;
    height: 40px;
    width: 550px;
    border-radius: 0px 0px 8px 8px;
}

.select-time {
    position: relative;
    display: flex;
    flex-direction: column;
}

.select-time::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #e1e1e1 transparent transparent transparent;
    position: absolute;
    top: 60%;
    right: 11%;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-number {
    position: relative;
    display: flex;
    flex-direction: column;
}

.select-number::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #e1e1e1 transparent transparent transparent;
    position: absolute;
    top: 60%;
    right: 11%;
    transform: translateY(-50%);
    pointer-events: none;
}

.form__error {
    height: 15px;
    color: #fff;
    text-align: left;
    font-size: 15px;
}
