.mypage__login-name {
    max-width: 1200px;
    margin: 0 auto;
}

.login-name {
    margin: 0px 0px 10px -15px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.alert {
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.mypage__content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

.mypage__reservation {
    margin: 0 auto;
    height: 600px;
    width: 500px;
}

.mypage__reservation--text {
    margin: 10px 0px 15px 0px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.empty-alert {
    height: 100px;
    line-height: 100px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
}

.mypage__reservation--card {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.reservation-card {
    margin-bottom: 30px;
    height: 250px;
    width: 450px;
    background-color: #345efd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px gray;
}

.reservation-card-past {
    margin-bottom: 30px;
    height: 250px;
    width: 450px;
    background-color: rgb(172, 170, 170);
    border-radius: 8px;
    box-shadow: 2px 2px 5px gray;
}

.reservation-content {
    display: flex;
    padding: 20px 30px 5px 30px;
}

.reservation-content.open {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.icon-clock {
    height: 33px;
    width: 33px;
    color: #fff;
}

.reservation-content-title {
    color: #fff;
    margin: 5px 0px 0px 20px;
    font-size: 17px;
}

.review {
    margin: 0px 0px 0px 190px;
    position: relative;
}

.review-button {
    font-size: 33px;
    -webkit-text-stroke: 0.5px #fff;
    margin-top: -10px;
    color: rgb(255, 255, 161);
}

.change {
    margin: 0px 0px 0px 190px;
    position: relative;
}

.change-button {
    height: 45px;
    width: 33px;
    margin-top: -8px;
}

.tooltip {
    width: 90px;
    text-align: center;
    padding: 10px;
    font-size: 11px;
    margin: -30px 0 0;
    background-color: #666;
    color: #fff;
    position: absolute;
    right: -22px;
    top: -50%;
    border-radius: 8px;
}

.tooltip.open {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.tooltip:before {
    right: 39%;
    top: 120%;
    border: solid transparent;
    transform: rotate(270deg);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(102, 102, 102, 0);
    border-right-color: #5e5e5e;
    border-width: 10px;
    margin-top: -8px;
}

.cancel {
    margin: 0px 0px 0px auto;
    position: relative;
}

.cancel-button {
    height: 25px;
    width: 25px;
    margin-top: 2px;
}

.reservation-detail {
    padding: 5px 30px;
    margin-top: 15px;
}

.reservation-table {
    color: #fff;
    width: 250px;
    height: 150px;
}

.reservation-past {
    padding-left: 10px;
    background-color: #f8d7da;
    color: red;
    border-radius: 8px;
}

.mypage__favorite {
    margin: 0 auto;
    width: 650px;
}

.mypage__favorite--text {
    margin: 10px 0px 15px 0px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.mypage__favorite--card {
    margin: 0 auto;
    width: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shop-card {
    margin: 0px 45px 30px 0px;
    height: 250px;
    width: 280px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 5px gray;
}

.card-img img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.card-text {
    padding: 10px 15px;
    height: 60px;
}

.shop-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}

.card-tag {
    font-size: 14px;
}

.shop-area {
    display: inline-block;
    color: black;
    margin-top: 0px;
    margin-bottom: 10px;
}

.shop-genre {
    display: inline-block;
    color: black;
    margin: 0px;
}

.card-button {
    display: flex;
    padding: 12px 15px;
    height: 60px;
}

.detail {
    height: 36px;
    width: 90px;
}

.detail-button {
    padding: 5px 10px;
    background: #345efd;
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
}

.review-read {
    height: 36px;
    width: 50px;
    position: relative;
    margin: 0px 0px 0px 55px;
}


.review-read-button {
    font-size: 43px;
    margin-top: -16px;
    -webkit-text-stroke: 0.5px rgb(244, 232, 11);
    color: rgb(255, 255, 161);
}

.review-read-button.open {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.favorite {
    height: 36px;
    width: 50px;
    position: relative;
    margin: 0px 0px 0px auto;
}

.favorite-button {
    margin: -20px 0px 0px auto;
    transform: scale(0.9, 1);
    font-size: 50px;
    color: #ededed;
}

.favorite-button.open {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.favorite-button.isActive {
    margin: -20px 0px 0px auto;
    transform: scale(0.9, 1);
    font-size: 50px;
    color: red;
}
